<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <script src="/javascripts/site.js"></script>
  </head>
  <body class="home-color">
    <div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About me</h2>
        <div class="row justify-content-around">
          <div class="col-6 m-3">
            <p>Hey there! Welcome to my portfolio.</p>
            <p>My name is Chieko, I am a passionate full-stack developer based in Tokyo, Japan.</p>
            <p>I started my coding journey out of curiousity in January 2023 and went to one of the most famous and prestigious bootcamp, <a href="https://www.lewagon.com/ja/tokyo" class="text-decoration-none text-reset fw-bolder">Le wagon Tokyo</a>. I love and focus more on front-end development but I also have experience with back-end technologies.</p>
            <p>I am a creative professional with <b>13 years of experiences</b> in sales and product development in the beauty industry.</p>
            <p>I would now like to combine my experiences and customer focus with my programming skills to create delightful software experiences.</p>
            <p>Hope you enjoy my website!</p>
          </div>
          <img src="/images/Portrait-06.jpg" alt="profile photo" class="col-4 m-3 h-100" />
        </div>
      </div>
      <div id="skills" class="py-5">
        <h2>Skills</h2>
        <div class="d-flex justify-content-around">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain-wordmark.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain-wordmark.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" />
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
