<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'top.png', alt: "banner photo" %>
    <div class="d-flex justify-content-between">
      <div class="align-items-center ">
        <h1 class="title-main">Hi I'm Chieko. Nice to meet you!</h1>
        <h4 class="text-center">A front-end web developer, based in Tokyo</h4>
      </div>
      <%#= image_tag 'photo.png', alt: "profile photo" %>
    </div>
    <%= image_tag 'bottom.png', alt: "banner photo" %>
  </div>
</div>
